:root {
  --display-color: #858693;
  --operator-color: #f5913e;
  --operator-color-hover: #f5903ec2;
  --digit-color: #e0e0e0;
  --digit-color-hover: #e0e0e088;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  min-width: 400px;
  width: 50vw;
  height: 50vh;
  justify-self: center;
  align-self: center;
}
