:root {
  --display-color: #858693;
  --operator-color: #f5913e;
  --operator-color-hover: #f5903ec2;
  --digit-color: #e0e0e0;
  --digit-color-hover: #e0e0e088;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  min-width: 400px;
  width: 50vw;
  height: 50vh;
}

.display {
  background-color: var(--display-color);
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 0.75em;
}

.util,
.digit,
.operator {
  justify-self: center;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.util,
.digit {
  background-color: var(--digit-color);
}

.util:hover,
.digit:hover {
  background-color: var(--digit-color-hover);
}

.operator {
  background-color: var(--operator-color);
}

.operator:hover {
  background-color: var(--operator-color-hover);
}

.grid {
  display: grid;
  gap: 1px;
  grid:
    "display display display display" minmax(70px, auto)
    "util-0 util-1 util-2 operator-0" minmax(50px, auto)
    "digit-0 digit-1 digit-2 operator-1" minmax(50px, auto)
    "digit-3 digit-4 digit-5 operator-2" minmax(50px, auto)
    "digit-6 digit-7 digit-8 operator-3" minmax(50px, auto)
    "digit-9 digit-9 digit-10 operator-4" minmax(50px, auto)
    / 1fr 1fr 1fr 1fr;
}
